* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    background-color: #071629;
}

body {
    align-content: center;
}

header {
    height: 100vh;
    background: url(images/headphones_hero_1.jpg);
    display: flex;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    
   

}

/* Navigation bar : logo left, links right*/
.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    text-decoration: none;
    color: white;
    margin-top: 45px;
    margin-left: 200px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 40px;
}

/* logo position*/
.logo img {
   width: 200px;
   height: auto;
   margin-top: 50px;
   margin-left: 200px;
}
